<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Keys</title>
</head>
<body>

    <h2>This is the hexadecimal form of your private keys</h2>
    <h1>{{h}}</h1>
    <p>The next step is to take your private key and put it through bitcoin's elliptic cryptography curve to end up 
        with your public key denoted as an x and y coordinate somewhere on a different spot of that curve.
    </p>

    <!-- <a href="elliptic.html">Let's go elliptic!</a> -->
</body>
</html>